[general]
schedule_filename=/opt/call-scheduler/schedule_tomorrow.csv
template_path=/opt/call-scheduler/templates
dialplan_files=/etc/asterisk/call-client
call_files=/opt/call-scheduler/callfiles

[mysql]
host=127.0.0.1
port=3306
user=asterisk
password=
db=asterisk

[yandex]
keyfile=/opt/call-scheduler/iam/private.key
iamfile=/opt/call-scheduler/iam/iam.txt
folder_id=
service_account_id=
key_id=

